.logo{
    align-items: center;
    display: flex;
}
.logo img{
    width: 48px;
    height: 48px;
}
.logo span{
    font-size: 24px;
    padding-left: 5px;
}
.footer{
    text-align: center;
}
.register{
  float: right !important;
}
.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
}
.container{
    padding-top: 15px;
}
.leftContainer{
    width: 370px;
    float:left;
    margin-right: 15px;
}
.carousel{
    width: 370px;
    float:left;
}
.tabs_news{
    width:370px;
    float: left;
    margin-right: 15px !important;
}
.tabs_news ul{
    padding-left: 0;
    margin-bottom: 0;
}
.tabs_news ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-size: 14px;
}
.tabs_news ul li a{
    color: #666;
    line-height: 25px;
}
.ant-card-body{
    padding:12px !important;
}
ul,li{
    list-style: none;
}
.topNewsList{
    float: left;
    text-align: left;
    font-size: 14px;
    margin-right: 15px;
}
.imageblock {
    float: left;
}

.custom-card {
    padding: 5px;
}

.custom-card p {
    color: #999;
}

.mb15{margin-bottom: 15px;}
.clear{clear:both;}
em{font-style:normal;}
.tab_nav h2{display: inline-block;}
.tab_nav .more{float:right;}